[submodule "include/tqdm"]
	path = include/tqdm
	url = https://github.com/tqdm/tqdm.cpp.git
[submodule "include/indicators"]
	path = include/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "include/include"]
	path = include/include
	url = https://github.com/p-ranav/indicators.git
